@font-face {
  font-family: 'segoe-ui-light';
  src: url(fonts/segoe-ui-light.woff) format('woff')
}

$mc-yellow: #ffce00;
$mc-black: #252525;
$mc-gray: #888;

$default-font-size: 16px;
$menu-font-size: 20px;